.footer {
  margin-top: 150px;
  margin-bottom: 174px;
}

.tarif__list {
  display: inline-block;
  list-style-type: none;
  @media screen and (min-width: 768px) {
    display: flex;
    list-style-type: none;
  }
}

.tarif__title {
  margin-top: 34px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.month {
  font-size: 12px;
}

.tarif__price {
  text-align: center;
  margin-top: 22px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  color: #000;
  transition: color 250ms linear, background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.tarif__list2 {
  margin-top: 28px;
  text-align: center;
  list-style-type: none;
}

.tarif__item {
  margin-right: 18px;
  width: 330px;
  height: 100%;
  background-color: #f8f8f8;
  border-radius: 10px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  transition: color 250ms linear, background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #fff;
    height: 110%;
    background-color: #ff7143;
  }
}

.tarif__item2 {
  margin-top: 15px;
  font-weight: 400;
  font-size: 17px;
  line-height: 2.9;
  &:first-child {
    margin-top: 0;
  }
}

.buttontarif {
  text-align: center;
  margin-top: 14px;
  margin-bottom: 27px;
  margin-left: 24px;
  margin-right: 24px;
  width: 285px;
  background-color: #fff;
  color: #5454d4;
  border: 1px solid #eae9f2;
  border-radius: 10px;
  transition: color 250ms linear, background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #fff;
    background-color: #9f3919;
    border-color: #9f3919;
  }
}
