.nav__icon {
  margin-top: 41px;
  width: 199px;
  height: 39px;
}

.nav {
  display: flex;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.sitenav {
  display: none;
  @media screen and (min-width: 768px) {
    margin-top: 44px;
    margin-left: 142px;
    display: flex;
  }
}

.sitenav__item {
  padding-right: 49px;
  list-style-type: none;
  &:last-child {
    padding-right: 0;
  }
}

.sitenav__link {
  display: block;
  position: relative;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3;
  text-decoration: none;
  color: var(--textcolor);
  transition: color 250ms linear, background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--background-text-color2);
  }
}

.nav__href {
  padding: 10px, 10px;
}

.mob-menu.is-open {
  display: flex;
  flex-direction: column;
}

.mob-menu {
  display: none;
  position: fixed;
  text-align: left;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  padding-top: 21px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 15px;
  background-color: var(--background-text-color);
}

.mobmenu {
  list-style: none;
}

.mobmenu__link {
  font-size: 25px;
  color: var(--background-text-color2);
  text-decoration: none;
}

.active {
  color: var(--accent-text-color2);
}
