.metrics {
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    margin-top: 83px;
  }
}

.metrics__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: var(--second-text-color);
  @media screen and (min-width: 768px) {
    font-size: 50px;
  }
}

.metrics__text {
  margin-top: 30px;
  font-family: Mulish;
  font-weight: 400px;
  font-size: 20px;
  line-height: 1.5;
  color: var(--textcolor);
}

.metrics__learnmore {
  margin-top: 30px;
}

.metrics__block {
  margin-top: 15%;
}

.metrics__href {
  text-decoration: none;
  color: var(--accent-text-color);
  transition: color 250ms linear, background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-text-color2);
  }
}

.metrics__img {
  margin-left: 0;
  @media screen and (min-width: 1200px) {
    margin-left: 158px;
  }
}

.metrics__img1 {
  width: 60%;
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    width: auto;
  }
}

.tools__list {
  display: inline-block;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
