.plan {
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    margin-top: 150px;
  }
}

.plan__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: #000;
  @media screen and (min-width: 768px) {
    font-size: 50px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
  }
}

.planbutton {
  background-color: #f7f7fb;
  color: #000;
  border: solid 5px #f7f7fb;
  margin-left: 0;
  height: 65px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  transition: color 250ms linear, background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #5454d4;
    color: #ffffff;
  }
}

.plan__bigbutton {
  display: block;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 170px;
  }
}

.leftbutton {
  padding-left: 65px;
  padding-right: 65px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  @media screen and (min-width: 768px) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.rightbutton {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  @media screen and (min-width: 768px) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
