:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-text-color: #2196f3;
  --background-color: #2f303a;
  --background-text-color: #0f5996;
  --section-color: #f5f4fa;
  --border-bottom: #ececec;
  --border-portfolio-cards: #eeeeee;
  --border-portfolio-cardsе: #000;
  --textcolor: #696871;
}

body {
  background-color: var(--text-color);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: var(--main-text-color);
}
