:root {
  --main-text-color: #757575;
  --second-text-color: #000000;
  --accent-text-color: #5454d4;
  --accent-text-color2: #ff7143;
  --background-color: #f7f7fb;
  --background-color2: #f8f8f8;
  --background-color3: #9f3919;
  --background-text-color: #ffffff;
  --background-text-color2: #19191b;
  --border-color: #e7e7e7;
  --border-color2: #eae9f2;
  --textcolor: #696871;
}

body {
  background-color: var(--text-color);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: var(--main-text-color);
}
